.projects {
    background-color: #C0D684;
    display: flex;
    flex-direction: row;
    width:550px;
    height: 300px ;
    color:#E1F3CE;
    padding: 5px;
    margin:5px;
    margin-left: 25px;
}
.project-description {
    font-size: 17px;
    width: 300px;
    display: flex;
    margin-left: 50px;
    text-align: left;
    padding-top: 7px;
    color:#5E7F39;
}
.github-logo {
    width:35px;
    padding-left:15px;
    padding-bottom: 3px;
}
#portfolio {
    border-bottom: #C0D684 solid 2px;
}
.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}