
.about-section {
    color: #5E7F39;
    margin-left: 10px;
    margin-right: 10px;    
    text-align: justify;
    font-size: 17px;
    line-height: 30px;
}
.about {
    display: flex;
}
#about {
    border-bottom: #C0D684 solid 2px;
}
.github-logo {
    width:35px;
    padding-left:15px;
    padding-bottom: 3px;
}
#wyliepicture {
    margin-left:100px;
    margin-right: 15px;
    float:left;
    width: 250px;
    align-items: top;
    align-items: right;
}

#sircatphoto {
    padding-top: 100px;
    width: 250px;
    height: fit-content ;
    align-items: bottom;
    align-items: right;
    float:right;
    margin-right: 100px;
    margin-left: 15px;
}

#grogupic {
    width:250px;
    float:left;
    margin-left: 100px;
    margin-top: 15px;
}

.wylie-grogu {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
}