.github-logo {
    width:35px;
    padding-left:15px;
    padding-bottom: 3px;
}
#home-img {
    font-size: 18px;
    color: #5E7F39;
    background-color: #C0D684 ;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    text-align: center;
    padding-top: 250px;
}

#home {
    border-bottom: #C0D684 solid 2px;
}

#home-text {
    font-size: 18px;
    margin-left: 400px;
    margin-right: 400px;
    color:#5E7F39;
}